@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  background:#f8fafc;
  color:#1e293b;
  font-family:Inter,Arial,sans-serif;
}

*{
  box-sizing:border-box;
}

button{
  cursor:pointer;
}